


:root {
  --bg-dark: #222222;
  --white: #F1F1F1;
  --orange-text: #FF4C0D;
  --bg-light: #E0E0E0;
  --black-text: #151515;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5vh;
}

.body {
  font-family: "Gilroy", "Arial", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body.noScroll {
  overflow: hidden;
}

/* -------------------------------------переключение темы */

.dark-theme {
  background: var(--bg-light);
}

.light-theme {
  background: var(--bg-dark);
  z-index: -10;
}

header h1 {
  transition: color .3s
}

.dark-theme header h1 {
  color: var(--orange-text)
}

.light-theme header h1 {
  color: var(--white)
}

header p {
  transition: color .3s
}

.dark-theme header p {
  color: var(--black-text)
}

.light-theme header p {
  color: var(--orange-text)
}

header svg path {
  transition: fill .3s
}

.dark-theme header svg path {
  fill: var(--orange-text)
}

.light-theme header svg path {
  fill: var(--white)
}

header li {
  transition: color .3s
}

.dark-theme header li {
  color: var(--black-text)
}

.light-theme header li {
  color: var(--white)
}

#headerScooter {
  transition: opacity .3s ease
}

.header__section-button {
  transition: all .3s
}

.dark-theme .header__section-button {
  border: 3px solid var(--black-text)
}

.light-theme .header__section-button {
  border: 3px solid var(--white)
}

.header__section-button-white {
  transition: all .3s
}

.dark-theme .header__section-button-white {
  background: transparent;
  color: var(--black-text)
}

.light-theme .header__section-button-white {
  background: var(--white);
  color: var(--black-text)
}

.header__section-button-black {
  transition: all .3s
}

.dark-theme .header__section-button-black {
  background: var(--black-text);
  color: var(--white)
}

.light-theme .header__section-button-black {
  background: transparent;
  color: var(--white)
}

/* ---------- переключение темы section about*/

.about h2 {
  transition: color .3s
}

.dark-theme .about h2 {
  color: var(--black-text)
}

.light-theme .about h2 {
  color: var(--white)
}

.about-list {
  transition: all .3s
}

.dark-theme .about-list .about__hover-title {
  color: var(--orange-text)
}

.dark-theme .about-list .about__hover-text {
  color: var(--black-text)
}

.dark-theme .about-list:hover p {
  color: var(--black-text)
}

.dark-theme .about-list:hover .about__hover-title {
  color: var(--orange-text)
}

.light-theme .about-list .about__hover-title {
  color: var(--white)
}

.light-theme .about-list .about__hover-text {
  color: var(--white)
}

.light-theme .about-list:hover p {
  color: var(--white)
}

.light-theme .about-list:hover .about__hover-title {
  color: var(--white)
}



/* -----------------------------переключение темы section appearance  */

.appearance__title {
  transition: all .3s
}

.dark-theme .appearance__title {
  color: var(--black-text)
}

.light-theme .appearance__title {
  color: var(--orange-text)
}

/* ---------------------------------переключение темы section security  */

.security-list {
  transition: all .3s
}

.dark-theme .security-list .security__inner-title {
  color: var(--orange-text)
}

.dark-theme .security-list .security__inner-text {
  color: var(--black-text)
}

.dark-theme .security-list:hover p {
  color: var(--black-text)
}

.dark-theme .security-list:hover .security__inner-title {
  color: var(--orange-text)
}

.light-theme .security-list .security__inner-title {
  color: var(--white)
}

.light-theme .security-list .security__inner-text {
  color: var(--white)
}

.light-theme .security-list:hover p {
  color: var(--white)
}

.light-theme .security-list:hover .security__inner-title {
  color: var(--white)
}

.security__inner-two-text {
  transition: all .3s
}

.dark-theme .security__inner-two-text {
  color: var(--black-text)
}

.light-theme .security__inner-two-text {
  color: var(--white)
}

/* ---------------------------------переключение темы section feedack  */

.feedback__slide-content {
  transition: all .3s
}

.dark-theme .feedback__slide-content {
  background: var(--white)
}

.light-theme .feedback__slide-content {
  background: var(--black-text)
}

.feedback__slide-title {
  transition: all .3s
}

.dark-theme .feedback__slide-title {
  color: var(--black-text)
}

.light-theme .feedback__slide-title {
  color: var(--white)
}

.feedback__slide-line {
  transition: all .3s
}

.dark-theme .feedback__slide-line {
  background: var(--black-text)
}

.light-theme .feedback__slide-line {
  background: var(--orange-text)
}

.feedback__slide-text {
  transition: all .3s
}

.dark-theme .feedback__slide-text {
  color: var(--black-text)
}

.light-theme .feedback__slide-text {
  color: var(--white)
}

/* ----------------------------------переключение темы section faq  */

.faq__form-text {
  transition: all .3s
}

.dark-theme .faq__form-text p {
  color: var(--black-text)
}

.light-theme .faq__form-text p {
  color: var(--white)
}

.faq__example-title,
.faq__example-text {
  transition: .3s
}

.dark-theme .faq__example-title {
  color: var(--black-text)
}

.dark-theme .faq__example-text {
  color: var(--black-text)
}

.light-theme .faq__example-title {
  color: var(--white)
}

.light-theme .faq__example-text {
  color: var(--white)
}

/* -----------------------------------переключение темы section price  */

.price__bg {
  transition: none
}

.dark-theme .price__bg {
  background: var(--white)
}

.light-theme .price__bg {
  background-image: linear-gradient(45deg, #000000 0%, #0f0f0f 15%, #151515 30%, #1f1f1f 40%, #282828 50%, #303030 60%, #3a3a3a 75%, #434343 90%, #4c4c4c 100%)
}

.price__title {
  transition: all .3s
}

.dark-theme .price__title {
  color: var(--black-text)
}

.light-theme .price__title {
  color: var(--white)
}

.price__set-title,
.price__set-item {
  transition: all .3s
}

.dark-theme .price__set-title {
  color: var(--black-text)
}

.dark-theme .price__set-item {
  color: var(--black-text)
}

.light-theme .price__set-title {
  color: var(--white)
}

.light-theme .price__set-item {
  color: var(--white)
}

#littleBikeDown {
  transition: opacity .3s ease
}

.price__section-button {
  transition: all .3s
}

.dark-theme .price__section-button {
  border: 3px solid var(--black-text)
}

.light-theme .price__section-button {
  border: 3px solid var(--white)
}

.price__section-button-white {
  transition: all .3s
}

.dark-theme .price__section-button-white {
  background: transparent;
  color: var(--black-text)
}

.light-theme .price__section-button-white {
  background: var(--white);
  color: var(--black-text)
}

.price__section-button-black {
  transition: all .3s
}

.dark-theme .price__section-button-black {
  background: var(--black-text);
  color: var(--white)
}

.light-theme .price__section-button-black {
  background: transparent;
  color: var(--white)
}

/* ----------------------------------переключение темы footer  */

.footer__copy,
.footer__info {
  transition: all .3s
}

.dark-theme .footer__copy {
  color: var(--black-text)
}

.dark-theme .footer__info {
  color: var(--black-text)
}

.light-theme .footer__copy {
  color: var(--white)
}

.light-theme .footer__info {
  color: var(--white)
}

/* -----------------------------------конец переключения темы */

/* -----------------------------------общие стили */

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1190px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* ---------------header-top */

.header {
  position: relative;
}

.header__ellips1 {
  position: absolute;
  max-width: 859px;
  width: 100%;
  height: auto;
  right: -50px;
  top: -700px;
  z-index: -2;
}

.header__ellips2 {
  position: absolute;
  max-width: 447px;
  width: 100%;
  height: auto;
  right: 610px;
  top: -550px;
  z-index: -2;
}

.header__ellips3 {
  position: absolute;
  max-width: 859.46px;
  width: 100%;
  height: auto;
  right: -150px;
  top: -950px;
  z-index: -2;
}

.header__ellips4 {
  position: absolute;
  width: 859.46px;
  width: 100%;
  height: auto;
  left: -410px;
  top: 480px;
  z-index: -2;
}

.header__ellips5 {
  position: absolute;
  width: 579px;
  height: 582px;
  right: 30px;
  top: 1203px;
  filter: blur(280px);
  background: linear-gradient(121.56deg, rgb(252, 31, 31) 13.181%, rgba(252, 203, 31, 0.31) 72.928%);
  opacity: 0.2;
  z-index: -2;
}

.header__ellips6 {
  position: absolute;
  max-width: 447px;
  width: 100%;
  height: auto;
  right: 183px;
  top: 1420px;
  z-index: -2;
}

.header__line1 {
  position: absolute;
  width: 945px;
  height: 1522px;
  left: -20px;
  top: 1510px;
  z-index: -1;
}

.header__top {}

.header__top-inner {
  position: relative;
}

.header__top-logo {
  position: relative;
  max-width: 60px;
  max-height: 39px;
  top: 47px;
  left: 0px;
}

.header__top-logo img {
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-left: 140px;

}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 486px;
  max-height: 21px;
}

.nav__item {
  display: inline;
  padding: 15px 0;
  color: var(--white);
  transition: all .3s;
  transform: scale(1);
}

.nav__item:last-child {
  padding: 15px 0;
}

.nav__item:hover {
  color: var(--orange-text);
  transform: scale(1.2);
}

.nav__item a {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
}

.header__top-button {
  display: flex;
  align-items: center;
  justify-content: end;
  max-width: 122px;
  max-height: 54px;
  padding: 15px 35px;
  border-radius: 65px;
  font-size: 16px;
  font-weight: 700;
  background: var(--white);
  transition: all .4s;
}

.header__top-button:hover {
  background: var(--orange-text);
  color: var(--white);
}

.header__top-burger {
  display: none;
}

.header__top-burger-line {
  width: 18px;
  height: 2px;
  background: var(--black-text);
}

.burger-active {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: var(--white);
  padding: 26vh 15px 30px;
  font-size: 24px;
  opacity: 1;
  visibility: visible;
  transition: opacity .3s ease, visibility .3s ease;
}

/* --------------------header__section */

.header__img img {
  position: absolute;
  max-width: 1900px;
  width: 140%;
  top: -40%;
  left: 18%;
  z-index: -1;
  opacity: 0.8;
}


.header__section {
  padding-top: 134px;
  padding-bottom: 250px;
}

.header__section-inner {
  position: relative;
}

.header__section-title {
  max-width: 1160px;
  margin-bottom: 30px;
  color: var(--white);
  font-family: "Gilroy";
  font-size: 80px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
}

.header__section-text {
  color: var(--orange-text);
  font-family: "Gilroy";
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 60px;
}

.header__section-button {
  border-radius: 65px;
  border: 3px solid var(--white);
  max-width: 250px;
  max-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__section-button-white {
  padding: 15px 35px;
  border-radius: 65px;
  background: var(--white);
  color: var(--black-text);
  font-size: 16px;
  font-weight: 700;
}

.header__section-button-black {
  padding: 15px 35px;
  border-radius: 65px;
  background: transparent;
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
}

/* ------------------------main-section-about */

.main {
  flex-grow: 1;
}

.about {}

.about__inner {}

.about__title {
  color: var(--white);
  font-family: "Gilroy";
  font-size: 45px;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
  margin-bottom: 60px;
}

.about__hover {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 183px 360px;
  gap: 40px;
  list-style: none;
  margin-bottom: 150px;
}

.about__picture-one {
  grid-column: 1 / span 2;
  width: 100%;
  max-width: 760px;
}

.about__hover-one,
.about__hover-two,
.about__hover-three {
  max-width: 360px;
  max-height: 183px;
  transform: scale(1);
  transition: all .3s;
}

.about__hover-title {
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 15px;
  transition: all .3s;
}

.about__hover-hr {
  width: 100%;
  height: 3px;
  background: grey;
  margin-bottom: 15px;
  transition: all .3s;
}

.about__hover-text {
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  transition: all .3s;
}

.about__hover-one p,
.about__hover-two p,
.about__hover-three p {
  color: grey;
}

.about__hover-one:hover {
  transform: scale(1.12);
}

.about__hover-two:hover {
  transform: scale(1.12);
}

.about__hover-three:hover {
  transform: scale(1.12);
}

.about-list p {
  color: var(--white);
}

.about-list .about__hover-hr {
  background: var(--orange-text);
}

/* ------------------------- */

.about__picture-two {
  max-width: 360px;
  z-index: -2;
}

.about__picture-three {
  display: none;
}
.about__picture-four {
  display: none;
}

/* -----------------------main-section-bg */

.bg {
  background: url(../img/bg/image-bg.png) no-repeat 100% / cover;
  background-position: center;
  width: auto;
  height: 600px;
  z-index: 0;
  margin-bottom: 120px;
  position: relative;
}
.bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.bg__speed {
  display: flex;
  flex-direction: column;
}

.bg__speed-logo {
  padding-top: 120px;
  margin-bottom: 149px;
  z-index: 1;
}

.bg__speed-title {
  color: var(--white);
  font-family: "Gilroy";
  font-size: 45px;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
  margin-bottom: 30px;
  z-index: 1;
}

.bg__speed-text {
  color: var(--white);
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  z-index: 1;
}

/* ---------------------------------main-section-appearance */

.appearance {
  position: relative;
}

.appearance__ellips1 {
  position: absolute;
  max-width: 943px;
  width: 100%;
  height: 948px;
  left: 662px;
  top: -428px;
  transform: rotate(90deg);
  z-index: -1;
}

.appearance__ellips2 {
  position: absolute;
  max-width: 579px;
  width: 100%;
  height: 582px;
  left: -504px;
  top: 58px;
  z-index: -1;
}

.appearance__line1 {
  position: absolute;
  max-width: 1256px;
  width: 100%;
  height: 1604px;
  left: 1094px;
  top: -300px;
  transform: rotate(-2.61deg);
  z-index: -1;
}

.appearance__line2 {
  position: absolute;
  max-width: 1256px;
  width: 100%;
  height: 1604px;
  left: -1468.09px;
  top: 509.09px;
  transform: rotate(-0.39deg);
}

.appearance__title {
  color: var(--orange-text);
  font-family: "Gilroy";
  font-size: 45px;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
  margin-bottom: 70px;
}

.appearance__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 120px;
}

.appearance__element-one,
.appearance__element-two {
  border-radius: 15px;
  position: relative;
}

.appearance__element-one-gradient1 img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.appearance__element-one-gradient2 {
  position: absolute;
  width: 560px;
  height: 398px;
  left: 0;
  top: 152px;
  background: linear-gradient(0.00deg, rgb(14, 14, 14) 35.176%, rgb(14, 14, 14) 35.181%, rgba(14, 14, 14, 0) 88.519%);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.appearance__element-one {
  max-width: 560px;
  max-height: 550px;
  background: url('../img/scooter/element-one.png');
  transform: scale(1);
  transition: all .3s;
}

.appearance__element-one p {
  position: relative;
  z-index: 1;
}

.appearance__element-one:hover {
  transform: scale(1.12);
  z-index: 2;
}

.appearance__text {}

.appearance__text-title {
  color: var(--white);
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  margin: 388px 60px 15px 60px;

}

.appearance__text-text {
  color: var(--white);
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin: 0 60px 60px 60px;
  max-width: 440px;
}

.appearance__element-two {
  background: #151515;
  max-width: 560px;
  max-height: 550px;
  background-image: url('../img/scooter/element-two.png');
  transform: scale(1);
  transition: all .3s;
}

.appearance__element-two:hover {
  transform: scale(1.12);
  z-index: 2;
}

/* ----------------------------------section-security */

.security {
  position: relative;
}

.security__ellipse1 {
  position: absolute;
  width: 447px;
  height: 450px;
  left: -180px;
  top: 60px;
  z-index: -1;
}

.security__ellipse2 {
  position: absolute;
  width: 943px;
  height: 948px;
  right: 76px;
  top: 300px;
  z-index: -1;
}

.security__ellipse3 {
  position: absolute;
  width: 579px;
  height: 582px;
  left: -380px;
  top: 880px;
  z-index: -1;
}

.security__line1 {
  position: absolute;
  max-width: 1256px;
  width: 100%;
  height: 1604px;
  left: 755px;
  top: 566px;
  transform: rotate(-3.94deg);
  z-index: 0;
}

.security__title {
  color: var(--orange-text);
  font-family: "Gilroy";
  font-size: 45px;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
  margin-bottom: 60px;
}

.security__inner {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  grid-template-rows: 220px 400px;
  align-items: start;
  justify-content: center;
  column-gap: 40px;
  row-gap: 30px;
  margin-bottom: 120px;
}

.security__element {
  max-width: 260px;
  max-height: 207px;
  transition: all .3s;
  transform: scale(1);
}

.security__inner-title {
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 15px;
  transition: all .3s;
}

.security__inner-line {
  width: 100%;
  height: 3px;
  background: grey;
  margin-bottom: 15px;
  transition: all .3s;
}

.security__inner-text {
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  transition: all .3s;
}

.security__element p {
  color: grey;
}

.security__element:hover {
  transform: scale(1.12);
}

.security-list p {
  color: var(--white);
}

.security-list .security__inner-line {
  background: var(--orange-text);
}

.security__img-one {
  max-width: 760px;
  max-height: 400px;
  width: 100%;
  z-index: 1;
  grid-column: 1 /  span 3;
}

.security__img-two {
  max-width: 360px;
  grid-column: 4 / 5;
  justify-self: end;
}
.security__img-three {
  display: none;
}
.security__img-four {
  display: none;
}
.security__img-five {
  display: none;
}

.security__components {
  display: flex;
  gap: 75px;
}

.title-security {
  margin-bottom: 30px;
}

.security__inner-two {
  max-width: 525px;
  padding-top: 120px;
}

.security__inner-two-text {
  max-width: 358px;
  color: var(--white);
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 60px;
}

.security__socials {
  height: 40px;
  margin-bottom: 120px;
}

.security__socials-app {
  width: auto;
  padding-right: 20px;
  transform: scale(1);
  transition: all .3s;
}

.security__socials-app:hover {
  transform: scale(1.2);
}

.security__socials-google {
  max-width: 135px;
  transform: scale(1);
  transition: all .3s;
}

.security__socials-google:hover {
  transform: scale(1.2);
}

.security__telefhone {
  max-width: 400px;
  z-index: 0;
  transition: all .3s;
  transform: scale(1);
}

.security__telefhone img {
  transition: all .3s;
  width: 100%;
}

.security__telefhone:hover {
  transform: scale(1.07);
}

.security__telefhone:hover img {
  border-bottom-right-radius: 7%;
  border-bottom-left-radius: 7%;
}



/* ----------------------------------bgXiaomi */

.bgXiaomi {
  position: relative;
  background: url(../img/bg/bgXiaomi.png) no-repeat 100% / cover;
  width: auto;
  height: 600px;
  z-index: -1;
  margin-bottom: 120px;
}

.bgXiaomi__about {
  margin: 0;
  padding: 0;
}

.bgXiaomi__about-logo {
  padding-top: 120px;
  margin-bottom: 147px;
}

.bgXiaomi__about-title {
  color: var(--orange-text);
  font-family: "Gilroy";
  font-size: 45px;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
  margin-bottom: 30px;
}

.bgXiaomi__about-text {
  color: var(--black-text);
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  max-width: 470px;
  padding-bottom: 15px;
}

.bgXiaomi-bg {
  position: absolute;
  top: 0px;
  z-index: -1;
}

/* ------------------------section-feedback */

.feedback {
  position: relative;
}

.feedback__ellipse1 {
  position: absolute;
  max-width: 1148.61px;
  height: auto;
  left: 245px;
  top: -482px;
  z-index: -2;
}

.feedback__line1 {
  position: absolute;
  max-width: 1256px;
  height: auto;
  left: 1060px;
  top: -280.91px;
  transform: rotate(-0.61deg);
  z-index: -2;
}

.feedback__title {
  color: var(--orange-text);
  font-family: "Gilroy";
  font-size: 45px;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
  margin-bottom: 30px;
}

.feedback__slider {}

.swiper {}

.feedback__wrapper {}

.swiper-wrapper {}

.feedback__slide {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 30px;
  transition: transform 0.8s ease;
}

.swiper-slide {}

.feedback__slide-content {
  max-width: 460px;
  padding: 40px;
  border-radius: 15px;
  background: var(--black-text);
  flex-shrink: 0;
  transform: scale(1);
  transition: all .3s;
}

.feedback__slide-content:hover {
  transform: scale(1.12);
}

.feedback__slide-title {
  color: var(--white);
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 15px;
}

.feedback__slide-line {
  max-width: 100px;
  height: 3px;
  background: var(--orange-text);
  margin-bottom: 15px;

}

.feedback__slide-text {
  color: var(--white);
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  padding-bottom: 10px;
}

.feedback__slide-text:last-child {
  padding-bottom: 0;
}

.feedback__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
  padding-right: 52px;
}

.feedback__button {
  padding: 15px 35px;
  border-radius: 65px;
  background: var(--white);
  color: var(--black-text);
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  transition: all .4s;
}

.feedback__button:hover {
  background: var(--orange-text);
  color: var(--white);
}

.feedback__button-swiper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.feedback__pref {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
  transition: all .4s;
}

.feedback__pref:hover {
  background: var(--orange-text);
}

.feedback__pref:hover svg path {
  fill: var(--white);
  transition: fill .4s ease;
}

.feedback__next {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
  transition: all .4s;
}

.feedback__next svg path {
  fill: var(--black-text)
}

.feedback__next:hover {
  background: var(--orange-text);
}

.feedback__next:hover svg path {
  fill: var(--white);
  transition: fill .4s ease;
}

/* ---------------------------------section-faq */

.faq {
  position: relative;
}

.faq__ellipse1 {
  position: absolute;
  max-width: 579px;
  height: auto;
  left: -397px;
  top: -354px;
  z-index: -1;
}

.faq__inner {
  display: flex;
  align-items: start;
  justify-content: left;
  gap: 85px;
  margin-bottom: 120px;
}

.faq__form {
  max-width: 415px;
}

.faq__form-title {
  color: var(--orange-text);
  font-family: "Gilroy";
  font-size: 45px;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
  margin-bottom: 30px;
}

.faq__form-text {
  max-width: 360px;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.faq__form-text p {
  margin-bottom: 15px;
}

.faq__form-text p:last-child {
  margin-bottom: 60px;
}

.faq__form-button {
  max-width: 183px;
  border-radius: 65px;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 35px;
  color: var(--black-text);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  transition: all .4s;
}

.faq__form-button:hover {
  background: var(--orange-text);
  color: var(--white);
}

.faq__example {
  max-width: 660px;
}

.faq__example-elements {
  margin-bottom: 40px;
  transform: scale(1);
  transition: all .4s;
}

.faq__example-elements:hover {
  transform: scale(1.12);
}

.faq__example-elements:last-child {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.faq__example-title {
  color: rgb(241, 241, 241);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 15px;
}

.faq__example-line {
  max-width: 100px;
  height: 3px;
  background: var(--orange-text);
  margin-bottom: 15px;
}

.faq__example-text {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

/* ----------------------------------section-price */

.price {
  position: relative;
}

.price__line1 {
  position: absolute;
  max-width: 1148px;
  height: auto;
  left: -105px;
  top: -165px;
  z-index: 0;
}

.price__bg {
  position: relative;
  border-radius: 15px;
  background-image: linear-gradient(45deg, #000000 0%, #0f0f0f 15%, #151515 30%, #1f1f1f 40%, #282828 50%, #303030 60%, #3a3a3a 75%, #434343 90%, #4c4c4c 100%);
  transform: scale(1);
  transition: all .3s;
}

.price__bg:hover {
  transform: scale(1.06);
}

.price__inner {
  padding: 60px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 346px;
}

.price__buy {}

.price__title {
  color: var(--white);
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  min-width: 494px;
  margin-bottom: 15px;
}
.price__title br {
  display: none;
}

.price__price {
  color: var(--orange-text);
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  margin-bottom: 30px;
}

.price__section-button {}

.price__section-button {
  border-radius: 65px;
  border: 3px solid var(--white);
  border-color: var(--white);
  max-width: 250px;
  max-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 197px;
}

.price__section-button-white {
  padding: 15px 35px;
  border-radius: 65px;
  border-color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.price__section-button-black {
  padding: 15px 35px;
  background: transparent;
  border-radius: 65px;
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.price__button {
  max-width: 122px;
  border-radius: 65px;
  background: var(--orange-text);
  padding: 15px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  transition: all .4s;
}

.price__button:hover {
  background: var(--white);
  color: var(--black-text);
}

.price__set {
  max-width: 200px;
  padding-right: 25px;
}

.price__set-title {
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 25px;
  white-space: nowrap;
}

.price__set-list {
  max-width: 200px;
}

.price__set-item {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  padding-bottom: 10px;
  white-space: nowrap;
  transform: scale(1);
  transition: all .3s;
}

.price__set-item:hover {
  transform: scale(1.5);
}

.price__img img {
  max-width: 950px;
  height: auto;
  position: absolute;
  top: -100px;
  left: 360px;
}




/* ---------------------------------footer */

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copy {
  text-align: start;
}

.footer__info {
  text-align: end;
}

.footer__copy,
.footer__info {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--white);
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

/* -------------------------------медиа запросы, адаптив */

